<div class="container">
  <div class = "contact-form" [formGroup]="formContact">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type = "text" placeholder="Ej. Pablo" formControlName = "name" [errorStateMatcher]="matcher"/>
      <mat-error *ngIf = "formContact.get('name')?.errors?.required">
        El nombre es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type = "text" placeholder="Ej. correo@correo.com" formControlName = "email" [errorStateMatcher]="matcher"/>
      <mat-error *ngIf = "formContact.get('email')?.errors?.email && !formContact.get('email')?.errors?.required">
        El e-mail no válido
      </mat-error>
      <mat-error *ngIf = "formContact.get('email')?.errors?.required">
        El email es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mensaje</mat-label>
      <textarea matInput  placeholder="Escriba su mensaje" formControlName = "message" [errorStateMatcher]="matcher"></textarea>
    </mat-form-field>
    <mat-error *ngIf = "formContact.get('message')?.errors?.required">
      El mensaje no puede estar vacio
    </mat-error>
    <button mat-raised-button color = "primary" (click)="enviarMensaje()" [disabled]="formContact.invalid">Ingresa</button>
  </div>
</div>


